html, body {
	max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

@font-face {
    font-family: proximaNovaLight;
    src: url(../proximanova-light-webfont.woff);
}

@font-face {
	font-family: proximaNovaRegular;
	src: url(../proximanova-regular-webfont.woff);
}

@font-face {
	font-family: proximaNovaBold;
	src: url(../proximanova-bold-webfont.woff);
}

body {
	font-family: proximaNovaLight;
}

@media screen and (max-width: 767px) {
	.project-row {
		display: flex;
		flex-direction: column;
	}

	.project-image {
		order: 1;
	}

	.project-caption {
		order: 2;
	}

	.project-caption > h1 {
		text-align: center;
	}

	.project-caption > p {
		text-align: justify;
	}
}


.jumbotron {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron h1 {
	color: #2E9CCA;
}

.intro {
	font-family: proximaNovaBold;
}

.navbar-default {
	border-radius: 0px;
	background-color: transparent;
	border-color: rgba(255,255,255,.3);
	margin: 0px;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #2E9CCA;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: white;
}


#about-wrapper, #projects-wrapper {
	background-color: #F6FAFC;
	border-bottom: 1px solid #DCDCDC;
}

#profile-pic {
	border-radius: 50%
}

.jumbotron {
	text-align: center;
	background-image: url("../assets/jumbotron-background-black.png");
	background-size: cover;
	background-position: center;
	height: 100vh;
	margin-bottom: 0px;
}


.btn-default, .btn-default:focus {
	background-color: transparent;
	padding: 15px;
	border-radius: 0px;
	border-color: #2E9CCA;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	color: #2E9CCA;
	-webkit-transition: all 2s; /* Safari */
	transition: all 0.5s;
}

.btn-default:focus {
	outline: none;
}

.btn-default:hover {
	background-color: #2E9CCA;
	border-color: #2E9CCA;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0px;
	color: white;
}



.typed-cursor{
	opacity: 1;
	font-size: 30px;
	color: white;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.table-responsive {
	margin: 0 auto;
}

.caption {
	text-align: center;
}

#blurb-static, #blurb-dynamic {
	font-size: 30px;
	color: white;
}

.description {
	text-align: justify;
}

.wrapper {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}


.project-thumbnail {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0px;
	border: 1px solid white;
}


.text {
  color: white;
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 15px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.what-i-do-col {
	text-align: center;
}

#what-i-do-wrapper {
	border-bottom: solid 1px #DCDCDC;
}


.col-md-6.container-left {
	padding-right: 0px;
}

.col-md-6.container-right {
	padding-left: 0px;
}

.col-md-6 > a > .overlay-left {
	margin-right: 0px;
}

.col-md-6 > a > .overlay-right {
	margin-left: 0px;
}

#view-github-button {
	width: 100%;
	background-color: #2E9CCA;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border: none;
	color: white;
	-webkit-transition: all 2s; /* Safari */
	transition: all 0.5s;
	font-family: proximaNovaBold;
	font-size: 20px;
}

#view-resume-button {
	width: 100%;
	background-color: #F6FAFC;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border: none;
	color: #252525;
	-webkit-transition: all 2s; /* Safari */
	transition: all 0.5s;
}

#view-github-button:hover{
	background-color: #252525;
}

.section-subheading {
	font-family: proximaNovaBold;
	text-align: center;
}


#skills-wrapper, #footer-wrapper {
	background-color: #252525;
}

#skills-subheading {
	color: white;
}

.skill-box {
	border: 1px solid #2E9CCA;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	color: #2E9CCA;
	margin-bottom: 5px;
}

#contact-wrapper {
	background-color: #2E9CCA;
}

textarea {
	resize: vertical;
}

.social-media-icon {
	margin-left: 5px;
	margin-right: 5px;
}

.social-media-icon:hover {
	filter: grayscale(100%);
}

#footer-text {
	color: white;
}

#footer-wrapper {
	padding-bottom: 2%;
	padding-top: 2%;
}

.glyphicon-heart {
	color: #2E9CCA;
}

#submit-btn {
	background-color: #252525;
	border: none;
	border-radius: 0px;
	color: white;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

#submit-btn:hover {
	background-color: white;
	border: none;
	color: #252525;

}

.form-control {
	border: none;
	border-radius: 0px;
}

hr {
	border-style: dotted;
}

.navbar-toggle {
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

.navbar-toggle:hover {
	background-color: white;
	border-color: white;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

.icon-bar {
	background-color: white;
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

.icon-bar:hover {
	background-color: #2E9CCA;
}

#about-wrapper {
	text-align: justify;
}
#experience-wrapper {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../assets/mtn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    background-attachment: fixed;
}

#timeline-elements {
	padding-left: 0px;
}

#timeline-elements > li {
	list-style: none;
	position: relative;
	margin: 0 auto;
	width: 6px;
	padding-top: 50px;
	background: #2E9CCA;
}


#timeline-elements > li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	transform: translateX(-50%)
}

#timeline-elements > li:last-child::after {
	background-color: transparent;
	width: 0; 
  	height: 0; 
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-radius: 0;
  	border-top: 20px solid #2E9CCA;
  	top: 50px;
}


#timeline-elements > li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: transparent;
  border: 1px solid white;
}
 
#timeline-elements > li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}



#timeline-elements > li:nth-child(odd) div {
  left: 45px;
}
 
#timeline-elements > li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 14px 8px 0;
  border-color: transparent white transparent transparent;
}


#timeline-elements > li:nth-child(even) div {
  left: -439px;
}

#timeline-elements > li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 14px;
  border-color: transparent transparent transparent white;
}

#timeline-elements > li > div > h3 {
	font-family: proximaNovaBold
}

#timeline-elements > li > div > span {
	color: #2E9CCA;
}

@media screen and (max-width: 768px) {
	#timeline-elements > li {
		margin-left: 20px;
	}
   
	#timeline-elements > li div {
		width: calc(100vw - 115px);
	}
   
	#timeline-elements > li:nth-child(even) div {
		left: 45px;
	}
   
	#timeline-elements > li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 14 px 8px 0;
		border-color: transparent white transparent transparent;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #2E9CCA!important;
    background-color: transparent;
}

.glyphicon-link {
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
} 

a {
	color: #2E9CCA;
}

a:hover {
	color: #252525;
};